<section class="container">
  <h2 class="container--h2">Invite Form</h2>
  <form
    class="container__form"
    [formGroup]="profileForm"
    (ngSubmit)="onSubmit()"
  >
    <div>
      <div class="container__form__item">
        <label for="first-name">First Name*</label>
        <input
          class="container__form__item--input"
          placeholder="Enter the first name"
          id="first-name"
          type="text"
          formControlName="firstName"
        />
      </div>
      <div
        class="container__form__errorlist"
        *ngIf="firstName?.touched && firstName?.errors"
      >
        <p
          class="container__form__errorlist--p"
          *ngFor="let error of objectKeys(firstName?.errors ?? {})"
        >
          {{ errorMessages[error] }}
        </p>
      </div>
    </div>

    <div>
      <div class="container__form__item">
        <label for="last-name">Last Name*</label>
        <input
          class="container__form__item--input"
          placeholder="Enter the last name"
          id="last-name"
          type="text"
          formControlName="lastName"
        />
      </div>
      <div
        class="container__form__errorlist"
        *ngIf="lastName?.touched && lastName?.errors"
      >
        <p
          class="container__form__errorlist--p"
          *ngFor="let error of objectKeys(lastName?.errors ?? {})"
        >
          {{ errorMessages[error] }}
        </p>
      </div>
    </div>

    <div>
      <div class="container__form__item">
        <label for="phone-number">Phone number*</label>
        <input
          class="container__form__item--input"
          placeholder="Enter the phone number"
          id="phone-number"
          type="text"
          formControlName="phoneNumber"
        />
      </div>
      <div
        class="container__form__errorlist"
        *ngIf="phoneNumber?.touched && phoneNumber?.errors"
      >
        <p
          class="container__form__errorlist--p"
          *ngFor="let error of objectKeys(phoneNumber?.errors ?? {})"
        >
          {{ errorMessages[error] }}
        </p>
      </div>
    </div>

    <div>
      <div class="container__form__item">
        <label for="arrival-time">Arrival Time*</label>
        <input
          [format]="24"
          [ngxTimepicker]="picker"
          formControlName="arrivalTime"
          class="container__form__item--input"
          placeholder="Pick an arrival time"
        />
      </div>
      <ngx-material-timepicker
        id="arrival-time"
        #picker
      ></ngx-material-timepicker>
      <div
        class="container__form__errorlist"
        *ngIf="lastName?.touched && lastName?.errors"
      >
        <p
          class="container__form__errorlist--p"
          *ngFor="let error of objectKeys(lastName?.errors ?? {})"
        >
          {{ errorMessages[error] }}
        </p>
      </div>
    </div>

    <div class="container__form__wrapper">
      <p>*required</p>

      <button
        class="container__form__wrapper--submit"
        type="submit"
        [disabled]="!profileForm.valid"
      >
        Submit
      </button>
    </div>
  </form>
</section>
